pkgbase = kiwiirc
	pkgdesc = Kiwi IRC server
	pkgver = 17.12.31.1
	pkgrel = 1
	url = https://www.kiwiirc.com
	install = kiwiirc.install
	arch = i686
	arch = x86_64
	license = Apache License 2.0
	conflicts = kiwiirc-git
	backup = etc/kiwiirc/client.json
	backup = etc/kiwiirc/config.conf
	source = kiwiirc.service
	source = kiwiirc.install
	source = kiwiirc.conf.sysusers
	sha1sums = ee22e99689fab8ee15808c497e3e20cab4129987
	sha1sums = 9400f2ca9daa883afb0b8be26fef9f41a5ffdf6d
	sha1sums = a2f5db846baa00298ace29e942b3d4bff08ce849
	source_i686 = kiwiirc-i686-17.12.31.1.zip::https://kiwiirc.com/downloads/kiwiirc_17.12.31.1_linux_386.zip
	sha1sums_i686 = bbcf849857e276907d1f21f7fd23e7e4e9bb48e4
	source_x86_64 = kiwiirc-x86_64-17.12.31.1.zip::https://kiwiirc.com/downloads/kiwiirc_17.12.31.1_linux_amd64.zip
	sha1sums_x86_64 = 924af32151b954b126d486202b5868b92261dd78

pkgname = kiwiirc

