pkgbase = kiwiirc-gateway-git
	pkgdesc = Kiwi IRC server
	pkgver = r157.ef93dab
	pkgrel = 1
	url = https://www.kiwiirc.com
	install = kiwiirc.install
	arch = i686
	arch = x86_64
	license = Apache License 2.0
	makedepends = git
	makedepends = go
	makedepends = nodejs
	makedepends = yarn
	conflicts = kiwiirc
	conflicts = kiwiirc-git
	backup = etc/kiwiirc/config.conf
	source = kiwiirc.service
	source = kiwiirc.install
	source = kiwiirc.conf.sysusers
	source = config.patch
	sha1sums = 03cbabcc7a480bdfe921e577f80b186cddf19740
	sha1sums = 9b0df774f27558b93e4bd2ecbc359a92200bbf6e
	sha1sums = a2f5db846baa00298ace29e942b3d4bff08ce849
	sha1sums = 5afb9a098053d6f271ef747e98b7c48b31de6524

pkgname = kiwiirc-gateway-git

