pkgbase = kiwiirc-uploadserver-git
	pkgdesc = Kiwi IRC upload server
	pkgver = r61.e9df8f0
	pkgrel = 1
	url = https://www.kiwiirc.com
	install = kiwiirc-uploadserver.install
	arch = i686
	arch = x86_64
	license = Apache License 2.0
	makedepends = git
	makedepends = go
	makedepends = nodejs
	makedepends = yarn
	conflicts = kiwiirc
	conflicts = kiwiirc-git
	backup = etc/kiwiirc/uploadserver.env
	source = kiwiirc-uploadserver.service
	source = kiwiirc-uploadserver.install
	source = kiwiirc-uploadserver.conf.sysusers
	sha1sums = 2f0e29fb7561e35aac9c66bd34ca92a1ef15a7f7
	sha1sums = eb827d5b85e78a3ff0210865aef54dba036ba92e
	sha1sums = a2f5db846baa00298ace29e942b3d4bff08ce849

pkgname = kiwiirc-uploadserver-git

