pkgbase = kiwiirc-webfiles-git
	pkgdesc = Kiwi IRC server
	pkgver = r1443.3d718fb
	pkgrel = 1
	url = https://www.kiwiirc.com
	arch = i686
	arch = x86_64
	license = Apache License 2.0
	makedepends = git
	makedepends = go
	makedepends = nodejs
	makedepends = yarn
	conflicts = kiwiirc
	conflicts = kiwiirc-git
	backup = etc/kiwiirc/client.json

pkgname = kiwiirc-webfiles-git

